layout {
     tab name="projects" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane cwd="~/Projects/js"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
     }
}
