layout {
     tab name="system updates" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
            pane command="fish" close_on_exit=true {
                args "-c" "brew update && brew outdated --cask --greedy --verbose && brew upgrade --greedy --verbose && brew cleanup"
            }
            pane size="30%" command="fish" close_on_exit=true {
                args "-c" "mise outdated && mise up"
            }
            pane size="30%" command="fish" close_on_exit=true {
                args "-c" "fisher update"
            }
        }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
     }
}
